<div class="container custom-container-2">
  <!-- Show it when there is no reader -->
  <div class="no-data text-center" *ngIf="reader.length == 0">
    <p>There is no reader added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/reader">Add Reader</button>
  </div>
  <!-- readers list table, it hides when there is no reader -->
  <div *ngIf="reader.length !== 0">
    <h3 class="mb-3 text-center">Readers List</h3>
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reader of reader">
            <td>{{reader.id}}</td>
            <td>{{reader.name}}</td>
            <td>{{reader.email}}</td>
            <td>{{reader.phone | phoneformat }}</td>
            <td>

              <span style="font-size: 20px; color: Dodgerblue;">
                <i class='fas fa-user-edit ' routerLink="/reader-update/{{reader.id}}"></i>
              </span>
              <span style="font-size: 20px; color: Dodgerblue;">
                <i class="fas fa-user-times" (click)="deletereader(reader.id)" style="padding-left:25px;"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>