<mat-toolbar>
    <mat-icon svgIcon="menu" (click)="toggleNav()"></mat-icon>
    <span class="toolbar-spacer"></span>
    <mat-icon [routerLink]="['']" [style.visibility]="showHomeButton ? 'visible':'hidden'" class="margin">home</mat-icon>
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="language" >
        <mat-button-toggle value="0">हिंदी</mat-button-toggle>
        <mat-button-toggle value="1">{{engilshText}}</mat-button-toggle>
    </mat-button-toggle-group>
</mat-toolbar>