<!-- app.component.html -->

<div class="container">

  <form [formGroup]="angForm" novalidate>

    <div class="form-group">
      <!--<label>Name:</label>-->
      <input type="text" [(ngModel)]="reader.name" class="form-control" placeholder="Name" formControlName="name">
    </div>
    <div
      *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['name'].errors.required">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <!--<label>Email:</label>-->
      <input type="text" [(ngModel)]="reader.email" class="form-control" placeholder="Email" formControlName="email">
    </div>
    <div
      *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['email'].errors.required">
        Email is required.
      </div>
    </div>

    <div class="form-group">
      <!--<label>Phone:</label>-->
      <input type="text" [(ngModel)]="reader.phone" class="form-control" placeholder="Phone" formControlName="phone"
        required minlength="10" maxlength="10">
    </div>
    <div
      *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['phone'].errors.required">
        Phone number is required.
      </div>
      <div *ngIf="angForm.controls['phone'].errors.minlength || angForm.controls['phone'].errors.maxlength">
        Name must be 10 degit long.
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success btn-lg btn-block"
        (click)="addReader(reader)">Create Reader</button>
    </div>
  </form>
  <br />
  <p>Form value: {{ angForm.value | json }}</p>
  <p>Form status: {{ angForm.status | json }}</p>
</div>
